<ion-content>
  <img
    [src]="'https://image.tmdb.org/t/p/w1280' + this.movie?.backdropURL"
    height="450"
    style="
      object-fit: cover;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      filter: brightness(40%);
    "
  />
  <div
    style="
      margin-top: -440px;
      margin-bottom: 400px;
      margin-left: 5px;
      margin-right: 5px;
      display: flex;
      justify-content: space-between;
    "
  >
    <ion-button
      (click)="onBackClick()"
      fill="clear"
      color="light"
      style="height: 50px; --border-radius: 50px"
    >
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button
      *ngIf="!this.isSaved && this.isLoaded"
      (click)="onAdd()"
      fill="clear"
      color="light"
      style="height: 50px; --border-radius: 50px"
      ><ion-icon name="star-outline" style="font-size: 25px"></ion-icon>
    </ion-button>
    <ion-button
      *ngIf="this.isSaved && this.isLoaded"
      (click)="onRemove()"
      fill="clear"
      color="warning"
      style="height: 50px; --border-radius: 50px"
      ><ion-icon name="star" style="font-size: 25px"></ion-icon>
    </ion-button>
  </div>

  <div color="primary" style="position: relative; margin-top: -50px">
    <ion-card-content style="position: absolute; bottom: 0; color: white">
      <ion-card-header>
        <ion-card-title style="color: white; font-size: 36px"
          ><b>{{this.movie?.title}}</b>
        </ion-card-title>
        <ion-card-subtitle style="color: lightgray">
          <b style="color: white">{{this.movie?.voteAvg}}★</b>
          ({{this.movie?.voteCnt}})
        </ion-card-subtitle>
        <ion-card-subtitle style="color: lightgray">
          {{this.movie?.releaseDate}},
          {{this.convertMinsToHrsMins(this.movie?.runtime)}}
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card-content>
  </div>
  <div style="position: static; margin-top: 450px">
    <ion-card style="border-radius: 10px; margin: 15px; padding: 6px">
      <ion-card-header>
        <ion-card-title>Overview</ion-card-title>
      </ion-card-header>
      <ion-card-content> {{this.movie?.overview}} </ion-card-content>
      <ion-card-header>
        <ion-card-title>Genres</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button
          *ngFor="let genre of this.movie?.genres"
          style="
            margin-left: -3px;
            opacity: 0.7;
            --border-radius: 20px;
            margin-right: 10px;
          "
          fill="outline"
          color="dark"
          disabled
        >
          {{genre.name}}
        </ion-button>
      </ion-card-content>
      <ion-card-header>
        <ion-card-title>Additional Info</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Budget: {{this.movie?.budget}} <br />
        Revenue: {{this.movie?.revenue}} <br />
        Language: {{this.movie?.language}} <br /><br />
        Click <a href="{{this.movie?.homepage}}">here</a> to visit this movie's
        homepage.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
