<ion-header>
  <ion-toolbar>
    <ion-title>Explore</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/explore/search']">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="margin-top: 10px">
    <ion-col size="6" *ngFor="let genre of this.genres">
      <ion-card
        button="true"
        [routerLink]="['./genre',genre.id]"
        color="light"
        style="border-radius: 5px; margin: 5px; padding: 5px"
      >
        <ion-card-header>
          <ion-card-subtitle>{{genre.id}}</ion-card-subtitle>
          <ion-card-title>{{genre.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
