<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h1>Now Playing</h1>
  </ion-item>
  <app-movie-cards [movies]="this.nowPlayingMovies"></app-movie-cards>

  <ion-item>
    <h1>Trending</h1>
  </ion-item>
  <app-movie-cards [movies]="this.trendingMovies"></app-movie-cards>

  <ion-item>
    <h1>Upcoming</h1>
  </ion-item>
  <app-movie-cards [movies]="this.upcomingMovies"></app-movie-cards>

  <ion-item>
    <h1>Top Rated</h1>
  </ion-item>
  <app-movie-cards [movies]="this.topRatedMovies"></app-movie-cards>
</ion-content>
